<div class="footer">
  <div style="padding-bottom:10px;">You are receiving this email because you signed up for the RubyIndia newsletter.
  </div>
  <div style="padding-bottom:10px;">
    Follow us on twitter at <a href="https://twitter.com/RubyIndiaOrg">RubyIndia Org</a> and GitHub at <a href="http://github.com/vipulnsward/rubyindia-web">RubyIndia GitHub</a>
  </div>
</div>
<span class="rubyImg dIB"></span>
