<div class="footer">
  <div style="padding-bottom:10px;">You are receiving this email because you signed up to the RubyIndia newsletter.
  </div>
  <div style="padding-bottom:10px;">
    We would like extend special thanks to <a href="https://twitter.com/Godgeez"> Amit Das</a> and <a href="https://twitter.com/SonamChile">Sonam Chile</a> for helping us with this Issue.
  </div>
</div>
<span class="rubyImg dIB"></span>
