<%= render partial: 'issues/header' -%>

<div class="sectionHeader textAlignLeft">
  <h3 class="colorRed borderBtmRed"><span class="articlesIcon dIB"></span>Articles</h3>
</div>

<%= render @articles -%>

<div class="sectionHeader textAlignLeft">
  <h3 class="colorRed borderBtmRed"><span class="articlesIcon dIB"></span>Events</h3>
</div>

<%= render @events -%>

<%= render 'issues/footer' -%>
