<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>RubyIndia</title>

<style type="text/css">
		.colorRed{
			color:#EC1622;
		}
		.colorDarkRed{
			color:#990E16;
		}
		.mainWrapper{
			width:680px;
			text-align:center;
			color:#333;
			margin:0 auto;
		}
		.textAlignLeft{
			text-align:left;
		}
		.font12{
			font-size:12px;
		}
		.bgGrey{
			background-color:#F8F8F8;
		}
		.borderBtmRed{
			border-bottom:1px solid #EC1622;
		}
		.fontB{
			font-weight:bold;
		}
		.events a,.articles a{
			text-decoration:none;
			border:1px solid #333;
			border-radius:5px;
			padding:5px;
			margin-top:10px;
			color:#333;
		}
		.events,.articles{
			border-bottom:1px dotted #333;
			padding:10px 0;
		}
		.events h3,.articles h3{
			padding:10px 0;
		}
		.fontNr{
			font-style:normal;
			font-weight:400;
		}
		.margintopBtm5{
			margin:5px 0;
		}
		.font30{
			font-size:30px;
		}
		h1{
			font-size:48px;
		}
		p{
			line-height:20px;
			color:#333;
		}
		.dIB{
			display:inline-block;
		}
		.lineHt{
			line-height:21px;
		}
		.contLink{
			margin:10px 0;
		}
		.footer{
			color:#333;
			font-size:10px;
			padding:10px 0;
		}
		.rubyImg{
			background-image:url("http://rubyindia-web.s3.amazonaws.com/ruby.png");
			height:40px;
			width:47px;
			background-repeat:no-repeat;
			margin:0 5px;
		}
		.eventsIcon{
			background-image:url("http://rubyindia-web.s3.amazonaws.com/events.png");
			height:25px;
			width:27px;
			background-repeat:no-repeat;
			vertical-align:bottom;
		}
		.articlesIcon{
			background-image:url("http://rubyindia-web.s3.amazonaws.com/articles.png");
			height:17px;
			width:22px;
			background-repeat:no-repeat;
		}
		.editorNote{
			width:480px;
			line-height:21px;
			vertical-align:top;
		}
</style></head>
<body class="mainWrapper">
<div class="bgGrey" style="padding:10px;">
  <h1 class="colorRed margintopBtm5"><span class="rubyImg dIB"></span>Ruby<span class="colorDarkRed">India</span></h1>

  <h2 class="font12 fontNr margintopBtm5">An email roundup of Ruby News and Articles from India.</h2>

  <div class="">
    <h3 class="colorRed font30 margintopBtm5">RubyIndia Issue#1</h3>

    </div>
    <p>RubyIndia brings curated content from and for the Indian Ruby Community and friends. It aims to be a crowd sourced content aggregation of Articles, Blogs, Projects, Products, Highlights, News, and all things interesting, from the community.</p>


  <div class="textAlignLeft">
    <h3 class="margintopBtm5">Editor's Note</h3>
    <div class="margintopBtm5"> Hello World!</div>

We are excited to present you RubyIndia’s first ever Newsletter. It’s been nearly a month, since we announced the release of the issue. We are happy to get things finally underway. One month is a long time in Ruby World, and lots of thing have happened since RubyConfIndia. Some highlights are included in this issue. If you would like to feature your content, do send us an email at contact [at] rubyindia [dot] org. Please feel free to forward this to your friends if you find it useful.

  </div>
</div>
<div class="articles textAlignLeft">
  <h3 class="colorRed borderBtmRed"><span class="articlesIcon dIB"></span>Articles</h3>
  <div class="lineHt">
    <div class="fontB">An Introduction to JSON Schema</div>
    <div>JSON, or JavaScript Object Notation has become the most widely used serialization and transport mechanism for information across various web-services. From it’s initial conception, the format garnered swift and wide appreciation for being really simple and non-verbose.
    </div>
    <div class="contLink"><a href="http://crypt.codemancers.com/posts/2014-02-11-An-introduction-to-json-schema/">Continue Reading</a></div>
  </div>
</div>
<div class="articles textAlignLeft">
  <div class="lineHt">
    <div class="fontB">API Versioning using Versionist</div>
    <div>Why do you need versioning? - The reasoning behind API versioning is simple – to avoid breaking existing clients. Once you publish your API, people are going to start writing software that depends on your API.
    </div>
    <div class="contLink"><a href="http://www.multunus.com/blog/2014/04/api-versioning-using-versionist/">Continue Reading</a></div>
  </div>
</div>
<div class="articles textAlignLeft">
  <div class="lineHt">
    <div class="fontB">Confessions of a first time speaker</div>
    <div>Public speaking is tough. But its fun. One can enjoy the experiences and take away some useful lessons. Here, Rishi shares his experience of speaking at RubyConfIndia 2014 after attending 3 RubyConfIndia editions.
    </div>
    <div class="contLink"><a href="http://blog.joshsoftware.com/2014/04/07/confessions-of-a-first-time-speaker/">Continue Reading</a></div>
  </div>
</div>
<div class="events textAlignLeft">
  <h3 class="colorRed borderBtmRed"><span class="eventsIcon dIB"></span>Events</h3>
  <div class="lineHt">
    <div class="fontB">Indian Speakers at Railsconf.</div>
    <div>We had six Indian speakers at Railsconf this year! <br>
<b>Leena</b> and <b>Vaidy</b> from Multunus spoke on Culture of Continuous Delivery. <br>
<b>Siddhant</b>, <b>Nitin</b> and <b>Dynaneshwar</b> from Techvision spoke on“Empowering Rich internet Applications(RIA’s) with Accessibilty” <br>
<b>Manik</b> from Vinsol spoke about “Get more hands dirty on keyboard”
    </div>
    <div class="contLink"><a href="http://railsconf.com/program">View Details</a></div>
  </div>
</div>

<div class="events textAlignLeft">
  <div class="lineHt">
    <div class="fontB">10 years of Rails + 4.1 Launch Party</div>
    <div>PuneRb hosted “10 years of Rails + 4.1 Launch Party.”  on Saturday, 26th April. There was a workshop on new features in Rails 4.1. And of course the Launch Party.
    </div>
    <div class="contLink"><a href="www.meetup.com/Doo-Things/events/171528132/">View Details</a></div>
  </div>
</div>


<div class="events textAlignLeft">
  <div class="lineHt">
    <div class="fontB">Rails Girls Summer of Code</div>
    <div>Rails Girls Summer of Code is back this year.  Apply if you are student, or jump in to help fund, coach or mentor the students.
    </div>
    <div class="contLink"><a href="http://railsgirlssummerofcode.org/">View Details</a></div>
  </div>
</div>

<div class="events textAlignLeft">
  <div class="lineHt">
    <div class="fontB">Now Open (CFP)</div>
    <div>CFP’s for eurucamp and Madison + Ruby are now open. Submit your talks soon.
    </div>
    <div class="contLink">
    <a href="http://2014.eurucamp.org/">Eurucamp</a>
    <a href="http://madisonpl.us/ruby/2014/03/03/madison-ruby-call-proposals/">Madison Ruby</a>
    </div>
  </div>
</div>

<div class="footer">
  <div style="padding-bottom:10px;">You are receiving this email because you signed up to the RubyIndia newsletter.
  </div>
  <div style="padding-bottom:10px;">
  We would like extend special thanks to <a href="https://twitter.com/Godgeez"> Amit Das</a> and <a href="https://twitter.com/SonamChile">Sonam Chile</a> for helping us with this Issue.
</div>
  <a href="http://www.rubyindia.org/issue/1">view in browser</a>
</div>
<span class="rubyImg dIB"></span>
</body>
</html>
