<div class="articles textAlignLeft">
  <div class="lineHt">
    <div class="fontB"><%= article.title -%></div>
    <div><%= article.description -%>
    </div>
    <div class="contLink">
      <%= render article.links -%>
    </div>
  </div>
</div>
