<body data-spy="scroll" data-offset="0" data-target="#theMenu">

<nav class="menu" id="theMenu">
  <div class="menu-wrap">
    <h1 class="logo"><a href="/">RubyIndia</a></h1>
    <i class="icon-remove menu-close"></i>
    <a href="#home" class="smoothScroll">Home</a>
    <a href="#about" class="smoothScroll">About</a>
    <a href="#contact" class="smoothScroll">Contact</a>
    <a href="#"><i class="icon-facebook"></i></a>
    <a href="#"><i class="icon-twitter"></i></a>
    <a href="#"><i class="icon-envelope"></i></a>
  </div>

  <div id="menuToggle"><i class="icon-reorder"></i></div>
</nav>


<section id="home" name="home"></section>
<div id="headerwrap">
  <div class="container">
    <div class="logo">
      <%= image_tag 'rubyindialogo2.png' %>
    </div>
    <br>

    <div class="row">
      <h1>RubyIndia</h1>
      <br>
       <h3 style="color: rgb(255, 0, 0);"><strong>Bringing the best from the Indian Community.</strong></h3>
      <br>
      <br>

      <div class="col-lg-6 col-lg-offset-3">
      </div>
    </div>
  </div>
</div>

<section id="about" name="about"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>About</h3>

      <p class="centered">
        <i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="col-lg-6 col-lg-offset-3">
        <p> RubyIndia brings curated content from and for the Indian Ruby Community and friends.</p>
        <p> It aims to be a crowd sourced content aggregation of Articles, Blogs, Projects, Products, Highlights, News, and all things interesting, from the community.</p>
      </div>
    </div>
  </div>
</div>

<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>Contact</h3>

      <p class="centered">
        <i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="col-lg-6 col-lg-offset-3">
        <p>contact@rubyindia.org</p>
      </div>
    </div>
  </div>
</div>


